@charset "UTF-8";

body {
  background-color: rgb(241, 140, 194);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
h1 {
  color: rgb(148, 1, 94);
  background-color: rgb(233, 72, 171);
}
h2 {
  color: rgb(207, 21, 130);
}
p {
  text-align: justify;
}
