body {
  background-color: #111;
  margin: 0px;
}

h1 {
  color: rgb(76, 93, 241);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

#lista_tweets {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #222;
  margin: 50px 0;
}

#lista_tweets div {
  border-bottom: 1px solid #333;
}

#lista_tweets h2 {
  margin: 10px;
}

#lista_tweets p {
  margin: 10px;
  margin-top: 20px;
}

input {
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgb(122, 121, 121);
  outline: 0;
  border: 0;
  padding: 5px;
}

textarea {
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgb(122, 121, 121);
  outline: 0;
  border: 0;
}

button {
  border-radius: 5px;
  padding: 2px 15px;
  border-radius: 3px;
  outline: 0;
  border: 0;
  font-weight: bolder;
  box-shadow: 2px 2px 2px rgb(122, 121, 121);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
